.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    animation-name: moveInfinity;
   
}
.shape{
    height: 100px;
    width: 100px;
    background-color: rgb(11, 234, 56);
    animation: move 2s infinite alternate ease-in-out;
}

 @keyframes move {
 0% { transform: translateX(-100);
 }
 100% {transform: translateX(1000px);
 }
}
