.card{
   display: grid

}


.one{
   text-align: center;
   position: absolute;
   top: 50px;
   left: 20px;
   width: 150px;
   height: 200px;
   border: 10px solid rgb(21, 195, 74);
   border-radius: 10%;
   background-color:  #bf19b9;;
}


.two{
   text-align: center;
   position: absolute;
   top: 50px;
   left: 210px;
   width: 150px;
   height: 200px;
     border-radius: 10%;
   border: 10px solid rgb(24, 167, 38);
   background-color:  #bf19b9;;
}


.three{
   text-align: center;
   position: absolute;
   top: 50px;
   left: 420px;
   width: 150px;
   height: 200px;
   border: 10px solid rgb(15, 172, 80);
    border-radius: 10%;
   background-color:  #bf19b9;;
}


.four{
   text-align: center;
   position: absolute;
   top: 50px;
   left: 630px;
   width: 150px;
   height: 200px;
   border: 10px solid rgb(20, 205, 60);
    border-radius: 10%;
   background-color:  #bf19b9;;
}


.five{
   text-align: center;
   position: absolute;
   top: 50px;
   left: 840px;
   width: 150px;
   height: 200px;
   border: 10px solid rgb(22, 174, 14);
    border-radius: 10%;
   background-color:  #bf19b9;;
}
.six{
   text-align: center;
   position: absolute;
   top: 320px;
   left: 20px;
   width: 150px;
   height: 200px;
   border: 10px solid rgb(14, 162, 88);
    border-radius: 10%;
   background-color:  #bf19b9;;
}
.one:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.two:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.three:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.four:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.five:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.six:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.seven:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.eight:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.nine:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.ten:hover {
 transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.img{
   width: 90px;
   height: 90px;
   margin-top: 3px;
   align-self: center;


}


